#outside_box{
    border-radius: 20px;
    text-align: left;
    padding: 20px;
}

#outside_box p{
    font-size: 110%;
    
}
html{
    font-family: Ubuntu, sans-serif;
}

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 30px;
  }

#navigation {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;
    position: sticky;
    top: 0px;
    height: 50px;
}


.navitem {
    padding-right: 100px;
    text-align: right;
    font-family: Ubuntu;
    align-items: center;
    padding-bottom: 100px;
    text-decoration: none;
    color: black;
}

.navitem i{
    padding-top: 23px;
}

#navitem1{
    padding-left: 600px;
}

#navicon {
    padding-left: 50px;
}

#footer-bar{
    background-color: darkgray;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
}

#social-icon i{
    padding-right: 20px;
}

#footer-bar p{
    text-align: center;
}

#outside_box h2 {
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 1em;
    padding-bottom: 1em;
}

#outside_box {
    height: 35em;

}
hr {
    opacity: 50%;
}
